<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/Lecture4MigrationsAndModels/tests/Unit" />
        <option value="$PROJECT_DIR$/Lecture4MigrationsAndModels/tests/Feature" />
        <option value="$PROJECT_DIR$/Lecture6Practice/tests/Unit" />
        <option value="$PROJECT_DIR$/Lecture6Practice/tests/Feature" />
        <option value="$PROJECT_DIR$/Lecture1/tests/Unit" />
        <option value="$PROJECT_DIR$/Lecture1/tests/Feature" />
        <option value="$PROJECT_DIR$/Lecture5ValidationAndDataInput/tests/Unit" />
        <option value="$PROJECT_DIR$/Lecture5ValidationAndDataInput/tests/Feature" />
        <option value="$PROJECT_DIR$/Lecture2Layout/tests/Unit" />
        <option value="$PROJECT_DIR$/Lecture2Layout/tests/Feature" />
        <option value="$PROJECT_DIR$/Lecture7CRUD/tests/Unit" />
        <option value="$PROJECT_DIR$/Lecture7CRUD/tests/Feature" />
        <option value="$PROJECT_DIR$/Lecture3Controllers/tests/Unit" />
        <option value="$PROJECT_DIR$/Lecture3Controllers/tests/Feature" />
      </list>
    </option>
  </component>
</project>